body {
    background: gray !important;
    background-image: url("../vendor/img/background.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    color: red;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.nav {
    border-bottom: 4px solid $primary-hover;
}
.container-fluid {
    border-bottom: 4px solid $primary;
    border-right: 4px solid $primary;
    box-shadow: -1px 9px 23px 0px rgba(0,0,0,0.75);
}

.glyphicon {
    color: $primary;
}

